.bar {
  position: relative;
  width: 1920px;
  padding: 20px 0px 20px 0px;
  margin-top: 7px;
  margin-bottom: 13px;
}

.text {
  padding: 0 1% 0 6.5%;
  font-size: 24px;
  display: inline;
}

.barcomment {
  position: relative;
  font-size: 15px;
  color: darkgrey;
  display: inline;
}

.search {
  position: relative;
  height: 39px;
  width: 323px;
  float: right;
  right: 122px;
}

.searchBtn{
  position: absolute;
  background-color: transparent;
  border: none;
  left: 273px;
  top: -1px;
  align-items: center;
}

input {
  height: 35px;
  width: 293px;
  border: 1px solid #AFAFAF;
  border-radius: 30px;    
  padding-left: 30px;
  color: #bbb;
  outline: none;
}

.background {
  width: 1920px;
  height: 909px;
  border-radius: 30px 30px 0px 0px;
  box-shadow: -5px 5px 30px 2px rgb(239, 239, 239);
  margin-top: 0px;
  background-image: url(/src/img/backgroundImage.png);
  background-repeat: no-repeat;
  background-size: 1920px 996px;
  overflow: hidden;
}

.background1 {
  width: 1920px;
  height: 899px;
  border-radius: 30px 30px 0px 0px;
  box-shadow: -5px 5px 30px 2px rgb(239, 239, 239);
  margin-top: 0px;
  background-image: url(/src/img/backgroundImage.png);
  background-repeat: no-repeat;
  background-size: 1920px 996px;
  overflow: auto;
}
.background1::-webkit-scrollbar{
  display: none;
}


.container{
  position: relative;
  width: 100%;
  height: 100%;
}

.container2{
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.frames {
  position: relative;
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
  width: 100%;
  transition-timing-function: linear;
}

.frame{
  position: relative;
}

/* 원본 */
.frame.position-1 {
  margin: 43px 0px 425px 40px;
}

.frame.position-2 {
  margin: 374px 0px 94px 40px;
}

.frame.position-3 {
  margin: 91px 0px 376px 40px;
}

.frame.position-4 {
  margin: 312px 0px 166px 40px;
}

.frame.position-5 {
  margin: 43px 0px 425px 40px;
}

.frame.position-6 {
  margin: 359px 0px 99px 40px;
}

/* 클론 */
.clone.position-1 {
  margin: 43px 0px 425px 40px;
}

.clone.position-2 {
  margin: 374px 0px 94px 40px;
}

.clone.position-3 {
  margin: 71px 0px 376px 40px;
}

.clone.position-4 {
  margin: 312px 0px 166px 40px;
}

.clone.position-5 {
  margin: 43px 0px 425px 40px;
}

.clone.position-6 {
  margin: 359px 0px 99px 40px;
}

.comment{
  position: absolute;
  font-size: 16px;
  color: #3C3C3C;
  bottom: -28px;
}
.day{
  position: absolute;
  font: 13px;
  color:#B9B9B9;
  bottom: -51px;
}

.time{
  position: absolute;
  font: 13px;
  color: #B9B9B9;
  bottom: -51px;
  left: 45%;
  margin-left: 45%;
}

.popup {
  position: fixed;
  top: 88px;
  left: 0px;
  width: 1920px;
  height: 1003px;
  /* background-color: rgba(255, 255, 255, 0.7); */
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.4);
  display: flex;
  justify-content: center;
  border-radius:30px;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  position: relative;
  padding-left: 185px;
  max-width: 100%;
  max-height: 100%;
}

.p1{
  bottom: -35px;
  font-size: 20px;
}

.p2{
  bottom: -63px;
  font-size: 15px;
}


.QR{
  background-color: rgb(220, 220, 220);
  width: 164px;
  height: 164px;
  margin: 515px 0px 0px 25px;
}

.close-button {
  position: absolute;
  top: 0px;
  background-color: transparent;
  border: none;
  width: 22px;
  height: 22px;
  /* margin-right: 26px; */
}


/*SearchSave css*/

.container1{
  position: relative;
}

.frames1 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.frame1{
  margin: 20px 10px 0px 120px;
}

.swiper-wrapper {
	transition-timing-function: linear !important;
}