.bar {
  position: relative;
  width: 5120px;
  height: 2vw;
  padding: 40px 0px 20px 0px;
  margin-top: 7px;
  margin-bottom: 13px;
  }
  
  .text {
  padding: 0 0.7% 0 1.7%;
  font-size: 1vw;
  display: inline;
  }
  
  .barcomment {
  position: relative;
  font-size: 0.6vw;
  color: darkgrey;
  display: inline;
  }
  
  .search {
  position: relative;
  height: 1.5vw;
  width: 677px;
  float: right;
  right: 244px;
  }
  
  .searchBtn {
  position: absolute;
  background-color: transparent;
  border: none;
  left: 75.6%;
  top: -1px;
  align-items: center;
  }
  
  input {
  height: 1.3vw;
  width: 11vw;
  border: 1px solid #AFAFAF;
  border-radius: 33px;
  padding-left: 30px;
  color: #bbb;
  font-size: 0.5vw;
  outline: none;
  }
  
  input:focus::placeholder {
  color: transparent;
  }
  
  .background {
  width: 5120px;
  height: 51.29vw;
  border-radius: 30px 30px 0px 0px;
  box-shadow: -5px 5px 30px 2px rgb(239, 239, 239);
  margin-top: 0px;
  background-image: url(/src/img/backgroundImage.png);
  background-repeat: no-repeat;
  background-size: 5120px 2659px;
  overflow: hidden;
  }
  
  .background1 {
  width: 5120px;
  height: 51.29vw;
  border-radius: 30px 30px 0px 0px;
  box-shadow: -5px 5px 30px 2px rgb(239, 239, 239);
  margin-top: 0px;
  background-image: url(/src/img/backgroundImage.png);
  background-repeat: no-repeat;
  background-size: 5120px 2659px;
  overflow: auto;
  }
  .background1::-webkit-scrollbar {
  display: none;
  }
  
  .container {
  position: relative;
  width: 100%;
  height: 100%;
  }
  
  .container2 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  }
  
  .frames {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition-timing-function: linear;
  }
  
  .frame {
  position: relative;
  }
  
  /* 원본 */
  .frame.position-1 {
  margin: 414px 0px 891px 120px;
  }
  
  .frame.position-2 {
  margin: 1170px 0px 223px 120px;
  }
  
  .frame.position-3 {
  margin: 617px 0px 770px 120px;
  }
  
  .frame.position-4 {
  margin: 920px 0px 308px 120px;
  }
  
  .frame.position-5 {
  margin: 524px 0px 891px 120px;
  }
  
  .frame.position-6 {
  margin: 1158px 0px 239px 120px;
  }
  
  /* 클론 */
  .clone.position-1 {
  margin: 124px 0px 851px 80px;
  }
  
  .clone.position-2 {
  margin: 1130px 0px 183px 80px;
  }
  
  .clone.position-3 {
  margin: 542px 0px 730px 80px;
  }
  
  .clone.position-4 {
  margin: 880px 0px 268px 80px;
  }
  
  .clone.position-5 {
  margin: 124px 0px 851px 80px;
  }
  
  .clone.position-6 {
  margin: 1118px 0px 199px 80px;
  }
  
  .comment {
  position: absolute;
  font-size: 1vw;
  color: #3C3C3C;
  bottom: -8%;
  }
  
  .day {
  position: absolute;
  font-size: 0.6vw;
  color: #B9B9B9;
  bottom: -12.5%;
  }
  
  .time {
  position: absolute;
  font-size: 0.6vw;
  color: #B9B9B9;
  bottom: -12.5%;
  left: 45%;
  margin-left: 43%;
  }
  
  .popup {
  position: relative;
  top: -2630px;
  left: 0px;
  width: 5120px;
  height: 2626px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
  z-index: 9999;
  }
  
  .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.4);
  z-index: -1;
  }
  
  .popup-content {
  position: relative;
  padding-left: 185px;
  max-width: 100%;
  max-height: 100%;
  }
  
  .p1 {
  bottom: -6.8%;
  font-size: 1.2vw;
  }
  
  .p2 {
  bottom: -11%;
  font-size: 0.8vw;
  }
  
  .QR {
  background-size: cover;
  width: 438px;
  height: 438px;
  margin: 1030px 0px 0px 55px;
  }
  
  .close-button {
  position: absolute;
  top: 0px;
  background-color: transparent;
  border: none;
  width: 100px;
  height: 100px;
  /* margin-right: 26px; */
  }
  
  
  .container1 {
  position: relative;
  }
  
  .frames1 {
  display: grid;
  width: 95%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  place-items: center;
  row-gap: 50px;
  column-gap: 0px;
  margin: 0 auto;
  }
  
  .frame1 {
  margin: 120px 0px 0px 0px;
  }
  
  .noResult {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 24%;
  font-size: 1vw;
  color: #AFAFAF;
  }
  
  .swiper-wrapper {
  transition-timing-function: linear !important;
  }

  .swiper{
    height: 51.29vw;
  }
  
  
  